html {
  background-color: rgba(100,150,250,.4);
}

@font-face {
  font-family: "SourceSansPro-Bold";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/source-sans-pro/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SourceSansPro-Light";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/source-sans-pro/SourceSansPro-Light.otf") format("opentype");
}

.hide {
  display: none;
}

#content {
  font-size: 16px;
  letter-spacing: 0;
}

body {
  margin: 0;
}

.creativeContainer {
  position: relative;
  width: 1080px;
  height: 1920px;
  padding: 75px;
  font-family: Arial;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  display:none;
  background-repeat: none;
  background-color: #1BA9DC;
}

.creativeContainer-header {
  height: 550px;
  font-size: 130px;
  line-height: 122px;
  font-weight: bold;
  letter-spacing: -4px;
}

.creativeContainer-header-stroke {
  width: 234px;
  height: 20px;
  font-size: 0;
  background-color: #fff;
  margin-bottom: 32px;
}

.creativeContainer-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1080px;
  height: 150px;
  background-color: #fff;
  font-family: "SourceSansPro-Bold";
  color: rgba(0,0,0,.65);
  font-size: 50px;
}

.creativeContainer-footer span {
  position: absolute;
  top: 45px;
  left: 75px;
}

.creativeContainer-footer img {
  position: absolute;
  width: 275px;
  right: 40px;
  top: 30px;
}

.creativeContainer-debugger {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 60px;
  background-color: #fff;
  font-family: "SourceSansPro-Bold";
  color: #3598db;
  font-size: 60px;
  line-height: 60px;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
}

.placeholder.invisible {
  opacity: 0;
}

#uvIndexNumber {
  text-align: center;
  margin: 50px auto 0;
  font-size: 30em;
  font-weight: lighter;
}

#lineBreak {
  border-top: 4px solid rgba(255,255,255,.5);
  margin-bottom: 50px;
}

#uvInfo {
  text-align: center;
}

#uvInfo h3 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 5.5em;
  font-weight: lighter;
  height: 175px;
  line-height: 175px;
  margin: 0 50px 0 0;
}

#uvInfo img {
  height: 175px;
  vertical-align: bottom;

}

#uvInfo h4 {
  display: block;
  width: 650px;
  margin: 50px auto;
  padding: 30px 25px;
  font-size: 3em;
  font-weight: lighter;
  border: 6px solid rgba(255,255,255,.8);
  border-radius: 2px;
  padding: 
}