html {
  background-color: rgba(100,150,250,.4);
}

@font-face {
  font-family: "SourceSansPro-Bold";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/source-sans-pro/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SourceSansPro-Light";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/source-sans-pro/SourceSansPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "Roboto-Thin";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/roboto/Roboto-Thin.ttf")
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/roboto/Roboto-Regular.ttf")
}

@font-face {
  font-family: "Din";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/din-regular/din-regular.ttf")
}

body {
  margin: 0;
}

/*#creativeContainer-debugger {
  width: 900px;
  z-index: 600;
  position: absolute;
  background-color: rgba(255,255,255,1);
}*/

.creativeContainer {
  position: relative;
  width: 1080px;
  height: 1920px;
  padding: 75px;
  font-family: "Roboto";
  color: black;
  box-sizing: border-box;
  overflow: hidden;
  display:none;
  background-repeat: none;
  background-image: url("../../images/wnbcNewsBackground.png");
}

#dateTime p {
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: -3px;
  color: #505050;
  font-family: "Din";
  font-weight: lighter;
  position: absolute;
}

#dateTime p:first-child {
  top: 338px;
  left: 91px;
}

#dateTime p:last-child {
  top: 338px;
  left: 456px;
}

#lineBreak {
  border-top: 2px solid rgba(0,0,0,.2);
  width:900px;
  position: absolute;
  top: 450px;
  left: 90px;
}

#story {
  width: 1080px;
  height: 706px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 496px;
}

#story h1 {
  background-color: rgba(36,40,59,.8);
  color: white;
  height: 194px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  font-size: 65px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 20px 81px 0px;
}

.hide {
  display: none;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
}

.placeholder.invisible {
  opacity: 0;
}
