html {
  background-color: rgba(100,150,250,.4);
}

@font-face {
  font-family: "Roboto-Thin";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/roboto/Roboto-Thin.ttf")
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/roboto/Roboto-Medium.ttf")
}

@font-face {
  font-family: "Din";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/arthouse-din/AH-DIN-Regular.ttf") format('truetype')
}

@font-face {
  font-family: "Din-Medium";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/arthouse-din/AH-DIN-Medium.ttf") format('truetype')
}

@font-face {
  font-family: "Din-Light";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/arthouse-din/AH-DIN-Light.ttf") format('truetype')
}

body {
  margin: 0;
}

/*#creativeContainer-debugger {
  width: 900px;
  z-index: 600;
  position: absolute;
  background-color: rgba(255,255,255,1);
}*/

.creativeContainer {
  position: relative;
  width: 1080px;
  height: 1920px;
  padding: 75px;
  font-family: "Roboto";
  color: black;
  box-sizing: border-box;
  overflow: hidden;
  display:none;
  background-repeat: none;
  background-image: url("../../images/wnbcNewsBackground.png");
}

#dateTime {
  text-transform: uppercase;
  font-size: 48px;
  height: 200px;
  width: 1000px;
  letter-spacing: -3px;
  color: #505050;
  font-family: "Din-Light";
  font-weight: lighter;
  position: absolute;
  top: 338px;
  left: 91px;
}

#dateTime p:first-child {
  display: inline-block;
}

#dateTime p:last-child {
  display: inline-block;
  padding-left: 20px;
}

#lineBreak {
  border-top: 2px solid rgba(0,0,0,.2);
  width:900px;
  position: absolute;
  top: 450px;
  left: 90px;
}

#story {
  width: 1080px;
  height: 706px;
  background-image: url('../../images/placeholderStory.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 496px;
}

#story ul {
  height: 194px;
  background-color: rgba(36,40,59,.8);
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  padding: 0px 75px 0px 75px;
  left: 0px;
  margin: 0px;
}

#story li {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  position: relative;
  bottom: 2px;
  list-style: none;
  height: 194px;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Din";
  font-size: 62px;
  line-height: 70px;
  text-shadow: 2px 3px 0px rgba(0,0,0,.7);
}

.hide {
  display: none;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
}

.placeholder.invisible {
  opacity: 0;
}
